:root {
  --background: #f0f0f0;
  --foreground: #333333;
  --card: #f5f5f5;
  --card-foreground: #333333;
  --popover: #f5f5f5;
  --popover-foreground: #333333;
  --primary: #606060;
  --primary-foreground: #ffffff;
  --secondary: #e0e0e0;
  --secondary-foreground: #333333;
  --muted: #d9d9d9;
  --muted-foreground: #666666;
  --accent: #c0c0c0;
  --accent-foreground: #333333;
  --destructive: #cc3333;
  --destructive-foreground: #ffffff;
  --border: #d0d0d0;
  --input: #e0e0e0;
  --ring: #606060;
  --chart-1: #606060;
  --chart-2: #476666;
  --chart-3: #909090;
  --chart-4: #a8a8a8;
  --chart-5: #c0c0c0;
  --sidebar: #eaeaea;
  --sidebar-foreground: #333333;
  --sidebar-primary: #606060;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #c0c0c0;
  --sidebar-accent-foreground: #333333;
  --sidebar-border: #d0d0d0;
  --sidebar-ring: #606060;
  --font-sans: Montserrat, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.35rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: hsl(0 0% 20% / 0.1);
  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #1a1a1a;
  --foreground: #d9d9d9;
  --card: #202020;
  --card-foreground: #d9d9d9;
  --popover: #202020;
  --popover-foreground: #d9d9d9;
  --primary: #a0a0a0;
  --primary-foreground: #1a1a1a;
  --secondary: #303030;
  --secondary-foreground: #d9d9d9;
  --muted: #2a2a2a;
  --muted-foreground: #808080;
  --accent: #404040;
  --accent-foreground: #d9d9d9;
  --destructive: #e06666;
  --destructive-foreground: #ffffff;
  --border: #353535;
  --input: #303030;
  --ring: #a0a0a0;
  --chart-1: #a0a0a0;
  --chart-2: #7e9ca0;
  --chart-3: #707070;
  --chart-4: #585858;
  --chart-5: #404040;
  --sidebar: #1f1f1f;
  --sidebar-foreground: #d9d9d9;
  --sidebar-primary: #a0a0a0;
  --sidebar-primary-foreground: #1a1a1a;
  --sidebar-accent: #404040;
  --sidebar-accent-foreground: #d9d9d9;
  --sidebar-border: #353535;
  --sidebar-ring: #a0a0a0;
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.35rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: hsl(0 0% 20% / 0.1);
  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
}

